
<ul>
  <% _.each(items, function(article){ %>
   <li><a href='articles/<%=article.id%>' id='article' ><%= article.title %></a>

   		<a href='articles/<%=article.id%>' id='edit_article' data-article=<%= article.id %>>Edit</a>
   		<a href='articles/<%=article.id%>' id='delete_article' data-article=<%= article.id %>>Delete</a>

   </li>
  <% }); %>
</ul>
