<a href='/articles/<%=id%>' id='show_article' data-article=<%= id %> ><%= title %></a>
<a href='/articles/<%=id%>/edit/' id='edit_article' data-article=<%= id %>>Edit</a>
<a href='#' id='delete_article' data-article=<%= id %>>Delete</a>