
<li><a href='articles/<%=id%>' id='article' ><%= title %></a>

   		<a href='articles/<%=id%>' id='edit_article' data-article=<%= id %>>Edit</a>
   		<a href='articles/<%=id%>' id='delete_article' data-article=<%= id %>>Delete</a>

   </li>